@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background-color: rgb(77,129,120);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
  }

.topArea {
  display: flex;
  flex-direction: column;
}

.center {
    margin: auto;
    display: block;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  padding-bottom: 20px;
}

.searchTerm {
  width: 100%;
  border: 2px solid black;
  border-right: none;
  padding: 5px;
  height: 25px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #020503;
}

.searchTerm:focus{
  color: #030303;
}

.searchButton {
  width: 90px;
  height: 39px;
  border: 2px solid black;
  background: #EAFDF9;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
}
.player_button{
  background: #EAFDF9;
  border: 2px solid black;
  border-radius: 0 5px 5px 0;
  font-size: 12px;
  cursor: pointer;

}
.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#players{
  margin-bottom: 30px;
}
#button{
  margin-bottom: 10px;
}
.playerCard{
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  background: #F3EADA;
  border-radius: 5px 5px 5px 5px;
}
.playerCard a{
  color: rgb(2, 0, 0);
  font-size: 18px;
}

.playerCard a:hover{
  color: #8a8a84;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*RESULTS*/

/*All result CSS goes into a resultArea container, so we 
can show / hide the container*/
.resultArea {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  top: 200px;
  display: none;
}

/*one result box. Will contain the link to that website
and possibly a blurb of the raw text if the proj requires it*/
.result {
  display: block;
  color: white;
  text-align: center;
}

.results {
  max-width: 1000px;
}

/*paragraph and a tag changes that are children
  of class result*/
.result p{
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 30%;
  color: lightgray;
}
.result a{
  color: white;
  font-size: 18px;
}

.result a:hover{
  color: yellow;
}

/*paragraph and a tag changes that are children
  of class suggestedSearch*/
.suggestedSearchArea{
    margin-top: 5%;
}
.suggestedSearchArea a{
  color: white;
  font-size: 18px;
}

.suggestedSearchArea a:hover{
  color: #F3EADA;
}

.suggestedSearchArea p{
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  font-size: 20px;
}


/*FEATURES*/

.suggestedSearchArea {
  padding-top: 160px;
}

.suggestedSearch {

}

.results{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.resultElement{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resultElement h4 {
  margin-top: 1px;
}

.resultElement a{
  color: #EAFDF9;
  font-size: 18px;
}

.resultElement a:hover{
  color: #F3EADA;
}

.nextPage{
  cursor:pointer
}






