<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href= "{{ url_for('static',filename='style/main.css') }}">
        <title>Fantasy Sports Helper</title>
    </head>
    <body>

        <div class="topArea">
            <img src="{{ url_for('static',filename='images/logo.png') }}" width="500" height="400" class=center>
            <div class="wrap">
                <div class="search">
                   <form method="get" action="{{ url_for('results') }}" class="search">
                        <input type="hidden" name = "page" id="inc" value="1"></input>
                        <input type="text" class="searchTerm" placeholder="Enter a name of a player or team..." name="query">
                        <input type="submit" value="Search"  class="searchButton" onclick="showResults()"/>
                   </form>	
                </div>
            </div>
        </div>
        <div class="suggestedSearchArea" id="suggestedSearchArea">
            {% if history %}      
                <p>These Sites May Interest You</p>
                    {% for title, url, desription in results %}
                    <div class = "resultElementSuggestion">
                        <a href= {{url}} >{{title}}</a>
                        <!--<h4>{{desription}}</h3>-->
                    </div>
                    {% endfor %}
                <p4>Results are based off your most recent search:</p4>
                <p4>{{history}}</p4>
            {% endif %}
        </div>

    </body>
</html>