<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href= "{{ url_for('static',filename='style/main.css') }}">
        <title>Fantasy Sports Helper</title>
    </head>
    <body>

        <div class="topArea">
            <img src="{{ url_for('static',filename='images/logo.png') }}" width="500" height="400" class=center>
            <div class="wrap">
                <div class="search">
                   <form method="get" action="{{ url_for('results') }}" class="search">
                        <input type="hidden" name = "page" id="inc" value="1"></input>
                        <input type="text" class="searchTerm" placeholder="Enter a name of a player or team..." name="query">
                        <input type="submit" value="Search"  class="searchButton" onclick="showResults()"/>
                   </form>	
                </div>
            </div>
        </div>
    
	<input type ="button" id='button' class="advanced_button" value="Advanced Search" >
	<div id="advanced">
		<div class="advancedBox">
			<form method="get" action="{{ url_for('results') }}">
				<label for="terms" class="advKeyLabel">Keywords: </label>
				<input type="text" id="terms" name="query" class="advKeyBar"><br>
				<label for="ppgmin">PPG min: </label>
				<input type="number" step="0.1" id="ppgmin" name="ppgmin">   &emsp;
				<label for="ppgmax">PPG max: </label>
				<input type="number" step="0.1" id="ppgmax" name="ppgmax"><br>
				<label for="rpgmin">RPG min: </label>
				<input type="number" step="0.1" id="rpgmin" name="rpgmin">   &emsp;
				<label for="rpgmax">RPG max: </label>
				<input type="number" step="0.1" id="rpgmax" name="rpgmax"><br>
				<label for="apgmin">APG min: </label>
				<input type="number" step="0.1" id="apgmin" name="apgmin">   &emsp;
				<label for="apgmax">APG max: </label>
				<input type="number" step="0.1" id="apgmax" name="apgmax"><br>
				<input type="submit" class="advSearchButton" value="Search" onclick="showResults()"/>
			</form>
		</div>
	</div>
    
        <div class="suggestedSearchArea" id="suggestedSearchArea">
            {% if history %}      
                <p>These Sites May Interest You</p>
                    {% for title, url, desription in results %}
                    <div class = "resultElementSuggestion">
                        <a href= {{url}} >{{title}}</a>
                        <!--<h4>{{desription}}</h3>-->
                    </div>
                    {% endfor %}
                <p4>Results are based off your most recent search:</p4>
                <p4>{{history}}</p4>
            {% endif %}
        </div>

    </body>
</html>

<script>
var button = document.getElementById('button'); // Assumes element with id='button'

button.onclick = function() {
    var div = document.getElementById('advanced');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
</script>
