<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href= "{{ url_for('static',filename='style/main.css') }}">
        <title>Fantasy Sports Helper</title>
    </head>
    <body>

        <div class="topArea">
            <img src="{{ url_for('static',filename='images/logo.png') }}" class=center>
            <div class="wrap">
                <div class="search">
                   <form method="get" action="{{ url_for('results') }}" class="search">
                        <input type="text" class="searchTerm" placeholder="Enter a name of a player or team..." name="query">
                        <input type="submit" value="Search"  class="searchButton" onclick="showResults()"/>
                   </form>	
                </div>
            </div>
        </div>

        <div class="suggestedSearchArea" id="suggestedSearchArea">
            <p>These Sites May Interest You</p>
            <p><a href="www.youtube.com">www.suggestion.com</a></p>
            <p><a href="www.youtube.com">www.anotherSuggestion.com</a></p>
            <p><a href="www.youtube.com">www.trythissite.com</a></p>
        </div>

    </body>
</html>